scheduler_db_host = CHANGEME
scheduler_db_name = CHANGEME
scheduler_db_user = CHANGEME
scheduler_db_pass = CHANGEME
status_db_host = CHANGEME
status_db_name = CHANGEME
status_db_user = CHANGEME
status_db_pass = CHANGEME

